/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define NUM_NAV 1
#define FUN 2
#define GAME 3
#define QWERTY 4
#define COMBO_TERM 30
#define TAPPING_TERM 280
#define QUICK_TAP_TERM 175
#define REQUIRE_PRIOR_IDLE 175

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <TAPPING_TERM>;
            quick-tap-ms = <QUICK_TAP_TERM>;
            require-prior-idle-ms = <REQUIRE_PRIOR_IDLE>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 35>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <TAPPING_TERM>;
            quick-tap-ms = <QUICK_TAP_TERM>;
            require-prior-idle-ms = <REQUIRE_PRIOR_IDLE>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32>;
            hold-trigger-on-release;
        };

        bspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };

        super_bspc: super_backspace {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp LA(BACKSPACE)>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        smart_shft: smart_shift {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LSHFT>, <&caps_word>;

            mods = <(MOD_LSFT)>;
        };

        comma_semi: comma_semi {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;

            mods = <(MOD_LSFT)>;
        };

        dot_colon: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;

            mods = <(MOD_LSFT)>;
        };

        qmrk_excl: qmrk_excl {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp QMARK>, <&kp EXCL>;

            mods = <(MOD_LSFT)>;
        };

        slh_morph: slh_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp BSLH>;

            mods = <(MOD_LSFT)>;
        };

        amps_morph: amps_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp AMPS>, <&kp PIPE>;

            mods = <(MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        tilde {
            bindings = <&kp TILDE>;
            key-positions = <0 10>;
            layers = <DEFAULT QWERTY>;
        };

        at {
            bindings = <&kp AT_SIGN>;
            key-positions = <11 1>;
            layers = <DEFAULT QWERTY>;
        };

        hash {
            bindings = <&kp HASH>;
            key-positions = <12 2>;
            layers = <DEFAULT QWERTY>;
        };

        dollar {
            bindings = <&kp DOLLAR>;
            key-positions = <13 3>;
            layers = <DEFAULT QWERTY>;
        };

        percent {
            bindings = <&kp PERCENT>;
            key-positions = <10 20>;
            layers = <DEFAULT QWERTY>;
        };

        caret {
            bindings = <&kp CARET>;
            key-positions = <11 21>;
            layers = <DEFAULT QWERTY>;
        };

        ampersand {
            bindings = <&amps_morph>;
            key-positions = <22 12>;
            layers = <DEFAULT QWERTY>;
        };

        asterisk {
            bindings = <&kp ASTERISK>;
            key-positions = <13 23>;
            layers = <DEFAULT QWERTY>;
        };

        Lbracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <14 4>;
            layers = <DEFAULT QWERTY>;
        };

        Lparen {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <24 14>;
            layers = <DEFAULT QWERTY>;
        };

        Rbracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <15 5>;
            layers = <DEFAULT QWERTY>;
        };

        Rparen {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <25 15>;
            layers = <DEFAULT QWERTY>;
        };

        grave {
            bindings = <&kp GRAVE>;
            key-positions = <19 9>;
            layers = <DEFAULT QWERTY>;
        };

        less_than {
            bindings = <&kp LESS_THAN>;
            key-positions = <26 16>;
            layers = <DEFAULT QWERTY>;
        };

        greater_than {
            bindings = <&kp GREATER_THAN>;
            key-positions = <28 18>;
            layers = <DEFAULT QWERTY>;
        };

        slash_morph {
            bindings = <&slh_morph>;
            key-positions = <29 19>;
            layers = <DEFAULT QWERTY>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <16 6>;
            layers = <DEFAULT QWERTY>;
        };

        underscore {
            bindings = <&kp UNDER>;
            key-positions = <17 7>;
            layers = <DEFAULT QWERTY>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <27 17>;
            layers = <DEFAULT QWERTY>;
        };

        plus {
            bindings = <&kp PLUS>;
            key-positions = <18 8>;
            layers = <DEFAULT QWERTY>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <20 21>;
            layers = <DEFAULT QWERTY>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <21 22>;
            layers = <DEFAULT QWERTY>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <26 27>;
            layers = <DEFAULT QWERTY>;
        };

        backspace {
            bindings = <&bspc_del>;
            key-positions = <28 27>;
            layers = <DEFAULT QWERTY>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
  &kp Q         &kp W        &kp F        &kp P         &kp B               &kp J        &kp L         &kp U             &kp Y        &kp APOS
  &hml LCTRL A  &hml LALT R  &hml LGUI S  &hml LSHFT T  &kp G               &kp M        &hmr LSHFT N  &hmr LGUI E       &hmr LALT I  &hmr LCTRL O
  &kp Z         &kp X        &kp C        &kp D         &kp V               &kp K        &kp H         &comma_semi       &dot_colon   &qmrk_excl
                             &mo 2        &kp SPACE     &kp LEFT_COMMAND    &smart_shft  &mo 1         &kp LEFT_CONTROL
            >;
        };

        qwerty_layer {
            bindings = <
  &kp Q         &kp W        &kp E        &kp R         &kp T               &kp Y        &kp U         &kp I             &kp O        &kp P
  &hml LCTRL A  &hml LALT S  &hml LGUI D  &hml LSHFT F  &kp G               &kp H        &hmr LSHFT J  &hmr LGUI K       &hmr LALT L  &hmr LCTRL SEMI
  &kp Z         &kp X        &kp C        &kp V         &kp B               &kp N        &kp M         &kp COMMA         &kp DOT      &kp FSLH
                             &mo 2        &kp SPACE     &kp LEFT_COMMAND    &smart_shft  &mo 1         &kp LEFT_CONTROL
            >;
        };

        num_nav_layer {
            bindings = <
  &kp PG_UP  &kp HOME  &kp UP_ARROW    &kp END    &trans    &trans  &kp N7  &kp N8  &kp N9  &trans
  &kp PG_DN  &kp LEFT  &kp DOWN_ARROW  &kp RIGHT  &trans    &trans  &kp N4  &kp N5  &kp N6  &kp N0
  &trans     &trans    &trans          &trans     &trans    &trans  &kp N1  &kp N2  &kp N3  &trans
                       &trans          &trans     &trans    &trans  &trans  &trans
            >;
        };

        fun_layer {
            bindings = <
  &kp PRINTSCREEN  &kp K_MUTE    &kp C_VOL_DN  &kp C_VOL_UP  &out OUT_USB    &to 3   &kp F9  &kp F10  &kp F11  &kp F12
  &bt BT_SEL 0     &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &kp F5  &kp F6   &kp F7   &kp F8
  &bt BT_CLR       &kp C_PREV    &kp C_PP      &kp C_NEXT    &out OUT_BLE    &trans  &kp F1  &kp F2   &kp F3   &kp F4
                                 &trans        &trans        &trans          &trans  &trans  &trans
            >;
        };

        game_layer {
            bindings = <
  &kp TAB    &kp Q  &kp W    &kp E   &kp R        &trans  &trans  &trans  &trans  &trans
  &kp LSHFT  &kp A  &kp S    &kp D   &kp F        &trans  &trans  &trans  &trans  &trans
  &kp LCTRL  &kp Z  &kp X    &kp C   &kp V        &trans  &trans  &trans  &trans  &trans
                    &kp ESC  &trans  &kp SPACE    &trans  &trans  &to 0
            >;
        };
    };
};

&mt {
    tapping-term-ms = <TAPPING_TERM>;
    flavor = "tap-preferred";
    quick-tap-ms = <QUICK_TAP_TERM>;
    require-prior-idle-ms = <REQUIRE_PRIOR_IDLE>;
};

&lt {
    tapping-term-ms = <TAPPING_TERM>;
    flavor = "tap-preferred";
    quick-tap-ms = <QUICK_TAP_TERM>;
};
